
.container {
  display: flex !important;
  height: 100vh !important;
  margin: 0px !important;
}

.form-container {
  width: 50% !important;
  padding-left: 350px !important;
  padding-right: 200px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
}

.title-container {
  width: 100% !important;
  text-align: left !important;
}

.form {
  width: 100% !important;
}

.image-container {
  margin: 0 !important;
  height: 100% !important;
}

.image {
  width: 100% !important;
}

.login-title {
  color: #4FD1C5 !important;
  line-height: 130% !important;
  font-family: 'Actor', sans-serif !important;
  font-size: 32px !important;
  letter-spacing: 0 !important;
  margin-bottom: 10px !important;
}

.login-sub-title {
  color: #A0AEC0 !important;
  line-height: 140% !important;
  font-family: 'Helvetica', sans-serif !important;
  font-weight: bold !important;
  font-size: 14px !important;
  letter-spacing: 0 !important;
  margin-bottom: 30px !important;
}

.error-message{
  line-height: 140% !important;
  font-family: 'Helvetica', sans-serif !important;
  text-align: left !important;
  font-size: 12px !important;
  letter-spacing: 0 !important;
}

.input-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  margin-bottom: 25px !important;
}

.password-input-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  margin-bottom: 5px !important;
}

.submit-button {
  margin-top: 20px !important;
}

.account-message-text {
  font-family: 'Helvetica', sans-serif !important;
  color: #2D3748 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  letter-spacing: 0 !important;
  margin-top: 20px !important;
}

.route-link {
  font-family: 'Helvetica', sans-serif !important;
  color: #4FD1C5 !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 140% !important;
  letter-spacing: 0 !important;
}

.input-label {
  font-family: 'Helvetica', sans-serif !important;
  color: #2D3748 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  letter-spacing: 0 !important;
  margin-bottom: 5px !important;
}

.instances-text {
  font-family: 'Roboto', sans-serif !important;
  color: #757575 !important;
  font-size: 12px !important;
  line-height: 13px !important;
  letter-spacing: 0.25px !important;
  margin-top: 6px !important;
  font-weight: normal !important;
}

.table-title {
  font-family: 'Helvetica', sans-serif !important;
  color: #A0AEC0 !important;
  font-size: 12px !important;
  line-height: 150% !important;
  letter-spacing: 0 !important;
  font-weight: bold !important;
}

.table-skillset-body{
  font-family: 'Roboto', sans-serif !important;
  font-size:  14px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  letter-spacing: 0.16px !important;
  color: #BDBDBD !important;
  background-color: white !important;
  border: 1.2px solid #BDBDBD !important;
  border-radius: 100px !important;
  padding: 4px 8px !important;
  text-align: center !important;
  margin: 0 !important;
  display: inline-block !important;
}

.MuiInputBase-input::placeholder {
  color: #2D3748 !important;
  font-family: 'Helvetica', sans-serif !important;
  font-size: 14px !important;
  line-height: 140% !important;
  letter-spacing: 0 !important;
}

.MuiAvatarGroup-root .MuiAvatar-root {
  margin-left: -16px !important;
}